<div class="admin-shell" [class.collapsed]="collapsed()">
  <aside class="sidebar">
    <div class="logo">
      <span class="mark">♪</span>
      @if (!collapsed()) { <span class="name mu-title">MusicUPC</span> }
    </div>

    <nav>
      @for (item of nav; track item.path) {
        <a
          [routerLink]="item.path"
          routerLinkActive="active"
          [matTooltip]="collapsed() ? (item.label | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          @if (!collapsed()) { <span>{{ item.label | translate }}</span> }
        </a>
      }
    </nav>
  </aside>

  <div class="main">
    <header class="topbar">
      <button mat-icon-button (click)="toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="mu-spacer"></span>
      <button mat-stroked-button (click)="cambiarIdioma('es')">
        🇪🇸 ES
      </button>

      <button mat-stroked-button (click)="cambiarIdioma('en')">
        🇺🇸 EN
      </button>

     <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
        <img
          class="avatar-header"
          [src]="fotoPerfil() || 'assets/default-user.png'"
          alt="Foto de perfil"
          (error)="usarImagenPorDefecto($event)"
        />

        <span class="uname">{{ username() ?? 'Administrador' }}</span>

        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>badge</mat-icon>
          <span>{{ 'ADMIN.ROL_ADMIN' | translate }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>{{ 'ADMIN.CERRAR_SESION' | translate }}</span>
        </button>
      </mat-menu>
    </header>

    <main class="content">
      <router-outlet />
    </main>
  </div>
</div>
